html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  overflow-wrap: anywhere;
}

.text-primary {
  color: var(--text-color-highlight);
}

.btn {
  display: inline-block;
  padding: 15.5px 33px;
  text-decoration: none;
  border-radius: 6px;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-white);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  border: 1px solid var(--text-color-highlight);
}

.btn-primary {
  background-color: var(--text-color-highlight);
  color: var(--text-color);

  &:hover {
    background-color: var(--text-color-white);
    color: var(--text-color-highlight);
  }
}

.btn-secondary {
  background-color: transparent;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);

  &:hover {
    background-color: var(--text-color-white);
    color: var(--text-color);
  }
}

.wpcf7-spinner {
  display: none !important;
}
