:root {
  --text-color: #333333;
  --text-color-dark: #1e1e1e;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --text-color-white-gradient: #d1d5db;
  --text-color-white-gradient-1: #9ca3af;
  --text-color-highlight: #ffc93c;
  --text-color-primary-yellow: #ffd95a;
  --text-color-line-yellow: #ffc107;
  --text-color-black-1: #121212;
  --text-color-placeholder: #adaebc;
  --background-color: #ffffff;
  --background-color-dark: #1e1e1e;
  --background-color-dark-1: #2d2d2d;
  --background-color-gray: #f9f9f9;
  --background-color-transparent: rgba(255, 255, 255, 0.9);
  --background-color-gradient: linear-gradient(
    90deg,
    #121212 0%,
    rgba(0, 0, 0, 0) 100%
  );
  --color-dots: #007aff;
  --color-border-gray: #e0e0e0;
  --background-color-primary-yellow-30: #ffd95a4d;
  --font-family-base: "Montserrat", sans-serif;
  --font-family-heading: "Montserrat", sans-serif;
  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --font-size-smx: 12px;
  --font-size-xxl: 60px;
  --font-size-xl: 48px;
  --font-size-lg: 30px;
  --font-size-md: 28px;
  --font-size-sm: 24px;
  --font-size-h1: 40px;
  --font-size-h2: 36px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-h5: 18px;
  --font-size-h6: 16px;
  --line-height-base: 1.5;
  --box-shadow-base: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
