@use "./variables" as *;
@use "./mixins" as *;
@use "./main";

body {
  background: $background-color;
  color: $text-color;
}

h1 {
  color: $text-color-dark;
  a {
    color: $text-color-dark;
  }
}
