@import "./variables";
@import "./mixins";
@import "./main";


body {
  background: $background-color;
  color: $text-color;
}

h1 {
  color: $text-color-dark;
  a {
    color: $text-color-dark;
  }
}
